<div class="container">
  <div class="container">
    <div class="card">
      <div class="card-header">Heutige Bundesliga-Spiele</div>
      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <p class="text-center">15:30 Uhr</p>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <p class="text-center">FC Bayern München</p>
            </div>
            <div class="col-1">
              <p class="text-center">:</p>
            </div>
            <div class="col">
              <p class="text-center">SC Freiburg</p>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <p class="text-center">Borussia Mönchengladbach</p>
            </div>
            <div class="col-1">
              <p class="text-center">:</p>
            </div>
            <div class="col">
              <p class="text-center">1. FSV Mainz 05</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a routerLink="/bets">Zu meinen Tipps</a>
      </div>
    </div>
  </div>
</div>
